{% extends 'base.html.twig' %}

{% block title %}Advent Calendar{% endblock %}

{% block body %}
<header class="page-header">
    <h1>Calendrier de {{ user }}</h1>
</header>
<div id="container">
    <div id="calendar">
        {% for door in doors %}
            {% if door.href %}
                <a class="link calendar-day" href="{{ door.href }}">
                    <div class="background">
                        <img src="../img/chocolate/{{ door.chocolate }}" alt="">
                    </div>

                    <div class="door ajar">
                        <div class="date-door">{{ door.number }}</div>
                    </div>
                </a>
            {% else %}
                <span class="calendar-day">
                    <div class="background">
                    </div>

                    <div class="door ajar">
                        <div class="date-door">{{ door.number }}</div>
                    </div>
                </span>
            {% endif %}
        {% endfor %}
    </div>
    {% block modal %}
    {% endblock %}
</div>
<footer class="page-footer">
    <p>Make with ♥ by <a href="http://anne-ducat.fr/" target="_blank">Anne Ducat</a></p>
</footer>
{% endblock %}
