{% extends 'calendar/index.html.twig' %}
{% block modal %}
<div class="modal">
<a href="{{ home }}"><div class="modal-bg"></div></a>
    <div class="modal-content">
            <header class="modal-header">
                <a class="modal-close" href="{{ home }}">&#10005;</a>
                <h2>{{ modal.title }}</h2>
            </header>
            <div class="modal-body">
                {{ modal.content | raw }}
            </div>
            <footer class="modal-footer">
                <p>{{ modal.footer }}</p>
            </footer>
    </div>
</div>
{% endblock %}
