/* 
Color Palette
Blue : night sky #002255 / tree #234a81 / surface #bedcf4
Houses : green #2E8B57 / red #e55253 / yellow #e08f13
*/

@font-face {
    font-family: 'Winter';
    src: url("fonts/WinterCreative-eZVvB.ttf")
}

body {
    font-family: Open Sans, sans-serif;
    line-height: 1;
    margin: 0;
    background: url('../img/bg_santa.png') no-repeat top;
    background-size: contain;
    background-color: #bedcf4;
}

h1 {
    text-align: center;
    font-family: 'Winter';
    font-size: 4rem;
    color: #002255;
    margin: 0;
    margin-top: 12%;
    font-weight: normal;
}

.page-header {
    padding: 20px;
}

#container,
.page-footer {
    padding: 0 20px;
}

#container {
    margin: auto;
}

.page-footer {
    color: #002255;
    text-align: center;
}

.page-footer a {
    text-decoration: none;
    color: #002255;
}

.page-footer a:hover {
    text-decoration: underline;
}

p.error {
    text-align: center;
    font-family: 'Winter';
    font-size: 3rem;
    color: #002255;
}

/*** CALENDAR ***/
#calendar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.calendar-day {
    margin: 20px;
    text-decoration: none;
    perspective: 800px;
    z-index: 1;
    display: inline-block;
}

.background {
    background-color: #234a81;
    width: 144px;
    height: 144px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.background img {
    max-width:90px;
    object-fit: cover;
}

.door {
    background-color: #bedcf4;
    width: 100px;
    height: 100px;
    padding: 20px;
    transform-style: preserve-3d;
    transform-origin: 0;
    perspective: 800px;
    transition: all .2s ease-out;
    border: 2px dotted #002255;
}

.link .door {
    cursor: pointer;
}

.ajar {
    perspective-origin: 0;
}

.date-door {
    text-align: right;
    font-family: 'Winter';
    font-size: 50px;
    color: #002255;
    position: absolute;
    bottom: 10px;
    right: 20px;
    transform: translate(0, 0);
    line-height: 1;
}

.link.calendar-day:hover {
    z-index: 10;
}

.link.calendar-day:hover .door {
    transform: rotateY(-94deg);
    perspective-origin: 0;
    transition: all .5s ease-in;
    background-color: #234a81;
}

.link.calendar-day:hover .date-door {
    backface-visibility: hidden;
}


/*** MODAL ***/
.modal {
    z-index: 3;
    padding-top: 50px;
    overflow: auto; 
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.modal-bg {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    z-index: 3;
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    max-width: 90%;
    width: max-content;
    margin-bottom: 50px;
}

.modal-header,
.modal-body.text,
.modal-footer {
    padding: 0.01em 22px;
}

.modal-header,
.modal-footer {
    color: #fff;
    background-color: #2E8B57;
}

h2 {
    font-size: 28px;
    font-weight: normal;
}

.modal-close {
    font-size: 28px;
    margin: 8px 16px;
    position: absolute;
    right: 0;
    top: 10px;
    text-decoration: none;
    color: #fff;
}

.modal-body {
    height: auto;
    scroll-behavior: smooth;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.modal-body p {
    text-align: center;
    margin: 20px;
}

.modal-body a {
    color : #e55253;
}
.modal-footer {
    font-size: 18px;
    text-align: right;
}

/* Modal text + img */
.text {
    flex-direction: row;
}

.text p {
    text-align: justify;
}

.text img, .modal video {
    display: block;
    max-width: 100%;
    max-height: 500px;
}

.text ol, .text ul {
    padding-left: 20px;
    margin: 20px;
}

.text li {
    margin-bottom: 1em;
    text-align: justify;
}

.right {
    float: right;
    margin-left: 20px;
}

.left {
    float: left;
    margin-right: 20px;
}

.hidden {
    background-color: #2E8B57;
    color: #2E8B57;
    font-weight: bold;
}

.hidden:hover {
    background-color: #fff;
    color: #2E8B57;
}

/* Modal photo + caption */
.image{
    display: block;
    margin: auto;
    max-height: 500px;
    max-width: 100%;
}

/* Modal video YT */
.resp-video {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
    display: block;
    max-width: 100%;
    min-width: 920px;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*** RESPONSIVE ***/
@media (max-width: 1366px) {
    .modal-body {
        flex-wrap: wrap;
    }

    .modal video {
        margin-bottom: 20px;
        max-height: none;
    }

    .resp-video {
        min-width: 100%;
    }

}

@media (min-width: 700px) and (max-width: 1024px) {
    .text img {
        margin-bottom: 20px;
        width: 100%;
        max-height: none;
    }

}

@media (max-width: 700px) {
    .text img {
        margin-bottom: 20px;
        max-height: none;
        width: 100%;
    }
    
}

@media (max-width: 568px) {
    .calendar-day {
        margin: 10px ;
    }
    
    .modal-body p, .text ol, .text ul {
        margin: 20px;
    }
}
