{% extends 'base.html.twig' %}

{% block title %}Advent Calendar{% endblock %}

{% block body %}
<header class="page-header">
    <h1>Ho Ho Ho !</h1>
</header>
<div id="container">
<p class="error">Si tu continues de fouiner partout,<br/>je te mets sur la liste des vilains et tu n'auras pas de cadeau à Noël.</p>
<p class="error">Sois patient, tu décrouvriras bientôt cette page.</p>
</div>
<footer class="page-footer">
    <p>Make with ♥ by <a href="http://anne-ducat.fr/" target="_blank">Anne Ducat</a></p>
</footer>
{% endblock %}
