{% extends 'base.html.twig' %}

{% block title %}Advent Calendar{% endblock %}

{% block body %}
<header class="page-header">
    <h1>Ho Ho Ho !</h1>
</header>
<div id="container">
<p class="error">Contrairement au Père Noël,<br/>la page que tu demandes n'existe pas.</p>
</div>
<footer class="page-footer">
    <p>Make with ♥ by <a href="http://anne-ducat.fr/" target="_blank">Anne Ducat</a></p>
</footer>
{% endblock %}
